<div class="container py-5">
  <div class="card shadow-lg mx-auto" style="max-width: 600px">
    <div class="card-header bg-primary text-white text-center">
      <h4 class="mb-0">Profile</h4>
    </div>
    <div class="card-body p-4">
      <!-- Profile Picture Section -->
      <div class="text-center mb-4">
        <img
          [src]="users$?.profile || defaultPicture"
          alt="Profile Picture"
          class="rounded-circle border"
          style="width: 120px; height: 120px; object-fit: cover"
        />
        <div class="mt-3">
          <label for="uploadPicture" class="btn btn-outline-primary btn-sm">
            <i class="fas fa-upload me-2"></i>Upload Picture
          </label>
          <input
            type="file"
            id="uploadPicture"
            accept="image/*"
            (change)="onPictureSelected($event)"
            class="d-none"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-muted">Firstname</div>
        <div class="col-6 text-end fw-bold">{{ users$?.firstName }}</div>

        <div class="col-6 text-muted">Middlename</div>
        <div class="col-6 text-end fw-bold">{{ users$?.middleName }}</div>
        <div class="col-6 text-muted">Lastname</div>
        <div class="col-6 text-end fw-bold">{{ users$?.lastName }}</div>

        <div class="col-6 text-muted">Email</div>
        <div class="col-6 text-end fw-bold">{{ users$?.email }}</div>

        <div class="col-6 text-muted">Phone</div>
        <div class="col-6 text-end fw-bold">{{ users$?.phone }}</div>
        <div class="col-6 text-muted">User Type</div>
        <div class="col-6 text-end fw-bold">{{ users$?.type }}</div>

        <div class="col-6 text-muted">Username</div>
        <div class="col-6 text-end fw-bold">{{ users$?.username }}</div>

        <div class="col-6 text-muted">Status</div>
        <div class="col-6 text-end fw-bold">
          <ng-container *ngIf="users$?.verified; else notVerified">
            Verified
          </ng-container>
          <ng-template #notVerified>
            Not Verified
            <button
              class="btn btn-sm btn-primary ms-2"
              (click)="sendEmailVerification()"
            >
              Verify
            </button>
          </ng-template>
        </div>
      </div>
      <hr />
      <div
        class="d-flex gap-3 d-flex align-items-center justify-content-between"
      >
        <button class="btn btn-success flex-grow-1" (click)="changeProfile()">
          Edit Profile
        </button>
        <button
          class="btn btn-outline-danger flex-grow-1"
          (click)="changePassword()"
        >
          Change Password
        </button>
        <button class="btn btn-danger flex-grow-1" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
