<div class="login-container">
  <!-- Left Section -->
  <div class="login-left">
    <div class="text-center">
      <img src="../../../assets/Logo.png" alt="Logo" class="logo" />
    </div>
    <h2>Welcome Back! 👋</h2>
    <p>Sign in to continue.</p>
    <form [formGroup]="loginForm$" (submit)="login()">
      <label for="username">Email or Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        formControlName="username"
        placeholder="test@domain.com"
      />
      <div
        *ngIf="
          loginForm$.get('username')?.invalid &&
          loginForm$.get('username')?.touched
        "
        class="text-danger"
      >
        Username is required and must be at least 3 characters long.
      </div>

      <label for="password">Password</label>
      <div class="input-group">
        <input
          [type]="hidePassword$ ? 'password' : 'text'"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="******"
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="togglePasswordVisibility()"
        >
          {{ hidePassword$ ? "Show" : "Hide" }}
        </button>
      </div>
      <div
        *ngIf="
          loginForm$.get('password')?.invalid &&
          loginForm$.get('password')?.touched
        "
        class="text-danger"
      >
        Password is required and must be at least 6 characters long.
      </div>

      <button type="submit" class="btn btn-signin">Log In</button>
    </form>
    <p>
      Don't have an account?
      <a>Sign Up Now</a>
    </p>
  </div>

  <!-- Right Section -->
  <div class="login-right">
    <div class="login-info">
      <h3>Why should I login?</h3>
      <p>
        Access your personalized dashboard to manage your account, view your
        profile, and explore additional features.
      </p>
      <img src="../../../assets/bg lend.jpg" alt="Dashboard example" />
    </div>
  </div>
</div>
