<div
  *ngIf="data$ != null && !loading$"
  class="container-fluid h-100 overflow-auto p-3"
>
  <div class="d-flex h-100 align-items-strech gap-2">
    <div class="w-25 overflow-auto bg-white rounded-3 p-3">
      <div class="d-flex gap-3">
        <img
          [src]="data$.user?.profile ?? '../../../assets/profile.png'"
          class="rounded-circle"
          width="80px"
          height="80px"
        />
        <div>
          <h6 class="text-dark">
            {{ data$.user?.lastName }} {{ data$.user?.firstName }}
            {{ data$.user?.middleName }}
          </h6>
          <span class="text-muted">{{ data$.user?.username }} </span>

          <h6 class="text-dark">
            Available Loan : {{ data$.loanAccount?.amount | currency : "PHP" }}
          </h6>
        </div>
      </div>
    </div>
    <div class="w-75 overflow-auto bg-white rounded-3 p-3">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="text-dark">Active Loans</h5>
        <button
          class="btn btn-dark"
          (click)="createLoan(data$.user!!, data$.loanAccount!)"
        >
          Make a loan
        </button>
      </div>
      <div class="row mb-3">
        <div class="col" *ngFor="let loans of activeLoans$ | async">
          <div class="card" style="width: 400px">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <span class="text-muted">Loan ID</span>
                  <h6>{{ loans.id }}</h6>
                </div>
                <div class="col-6">
                  <span class="text-muted">Amount</span>
                  <h6>{{ loans.amount | currency : "PHP" }}</h6>
                </div>
                <div class="col-6">
                  <span class="text-muted">Interest </span>
                  <h6>{{ loans.interest }} %</h6>
                </div>
                <div class="col-6">
                  <span class="text-muted">Amount Paid </span>
                  <h6>{{ loans.amountPaid | currency : "PHP" }}</h6>
                </div>
                <div class="col-12">
                  <span class="text-muted">Payment Schedule </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column w-100">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <button ngbNavLink>Payment Schedule</button>
            <ng-template ngbNavContent>
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th>Date</th>

                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of payments">
                    <td>{{ payment.date }}</td>

                    <td>{{ payment.amount }}</td>
                    <td>
                      <span
                        class="badge"
                        [ngClass]="{
                          'text-bg-success': payment.status === 'PAID',
                          'text-bg-warning': payment.status === 'UNPAID',
                          'text-bg-danger': payment.status === 'OVERDUE'
                        }"
                      >
                        {{ payment.status }}
                      </span>
                    </td>
                  </tr>
                  <tr *ngIf="payments.length === 0">
                    <td colspan="5" class="text-center">No payments found.</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>Loan History</button>
            <ng-template ngbNavContent>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item"
                  *ngFor="let history of histories$ | async"
                >
                  <div class="d-flex gap-2 w-100 p-2 align-items-center">
                    <div class="flex-grow-1">
                      <p class="p-0 m-0">{{ history.message }}</p>
                      <span class="text-muted">{{
                        history.createdAt | date : "long"
                      }}</span>
                    </div>
                    <h6>
                      {{ history.amount | currency : "PHP" }}
                    </h6>
                  </div>
                </li>
              </ul>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="data$ == null && !loading$"
  class="h-100 d-flex align-items-center justify-content-center"
>
  <h5 class="text-white">Loan Data not found!</h5>
</div>

<div
  *ngIf="loading$"
  class="d-flex align-items-center flex-column gap-3 justify-content-center h-100"
>
  <div class="spinner-border text-white" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <h5>Getting loan account data..</h5>
</div>
