<div
  class="modal-header border-0 bg-success text-white"
  style="border-top-left-radius: 10px; border-top-right-radius: 10px"
>
  <h4 class="fw-bold" style="font-family: 'Poppins', sans-serif">
    Create Collector
  </h4>
</div>

<div class="modal-body p-4">
  <form class="w-100" [formGroup]="collectorForm$" (submit)="createCollector()">
    <div class="row">
      <!-- First Name -->
      <div class="col-md-6 mb-3">
        <label for="firstName" class="form-label fw-bold">First Name</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="firstName"
          formControlName="firstName"
          style="border-radius: 8px"
        />
        <div
          *ngIf="
            collectorForm$.get('firstName')?.invalid &&
            collectorForm$.get('firstName')?.touched
          "
          class="text-danger mt-1"
        >
          First Name is required.
        </div>
      </div>

      <!-- Middle Name -->
      <div class="col-md-6 mb-3">
        <label for="middleName" class="form-label fw-bold">Middle Name</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="middleName"
          formControlName="middleName"
          style="border-radius: 8px"
        />
        <div
          *ngIf="
            collectorForm$.get('middleName')?.invalid &&
            collectorForm$.get('middleName')?.touched
          "
          class="text-danger mt-1"
        >
          Middle Name is required.
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Last Name -->
      <div class="col-md-6 mb-3">
        <label for="lastName" class="form-label fw-bold">Last Name</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="lastName"
          formControlName="lastName"
          style="border-radius: 8px"
        />
        <div
          *ngIf="
            collectorForm$.get('lastName')?.invalid &&
            collectorForm$.get('lastName')?.touched
          "
          class="text-danger mt-1"
        >
          Last Name is required.
        </div>
      </div>

      <!-- Profile Picture -->
      <div class="col-md-6 mb-3">
        <label for="profile" class="form-label fw-bold">Profile Picture</label>
        <input
          type="file"
          class="form-control shadow-sm"
          id="profile"
          formControlName="profile"
          (change)="onFileSelected($event)"
          style="border-radius: 8px"
        />
        <div *ngIf="!selectedFile" class="text-danger mt-1">
          Profile Picture is required.
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Phone -->
      <div class="col-md-6 mb-3">
        <label for="phone" class="form-label fw-bold">Phone</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="phone"
          formControlName="phone"
          style="border-radius: 8px"
        />
        <div
          *ngIf="
            collectorForm$.get('phone')?.invalid &&
            collectorForm$.get('phone')?.touched
          "
          class="text-danger mt-1"
        >
          Phone is required.
        </div>
      </div>

      <!-- Email -->
      <div class="col-md-6 mb-3">
        <label for="email" class="form-label fw-bold">Email</label>
        <input
          type="email"
          class="form-control shadow-sm"
          id="email"
          formControlName="email"
          style="border-radius: 8px"
        />
        <div
          *ngIf="
            collectorForm$.get('email')?.invalid &&
            collectorForm$.get('email')?.touched
          "
          class="text-danger mt-1"
        >
          Valid Email is required.
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Username -->
      <div class="col-md-6 mb-3">
        <label for="username" class="form-label fw-bold">Username</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="username"
          formControlName="username"
          style="border-radius: 8px"
        />
        <div
          *ngIf="
            collectorForm$.get('username')?.invalid &&
            collectorForm$.get('username')?.touched
          "
          class="text-danger mt-1"
        >
          Username is required.
        </div>
      </div>

      <!-- Password -->
      <div class="col-md-6 mb-3">
        <label for="password" class="form-label fw-bold">Password</label>
        <input
          type="password"
          class="form-control shadow-sm"
          id="password"
          formControlName="password"
          style="border-radius: 8px"
        />
        <div
          *ngIf="
            collectorForm$.get('password')?.invalid &&
            collectorForm$.get('password')?.touched
          "
          class="text-danger mt-1"
        >
          Password is required.
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      class="btn btn-primary w-100 fw-bold mt-4"
      type="submit"
      [disabled]="collectorForm$.invalid || selectedFile == null"
      style="
        border-radius: 30px;
        padding: 10px 20px;
        font-family: 'Poppins', sans-serif;
      "
    >
      Create Collector
    </button>
  </form>
</div>
