<div class="modal-header">
  <h6 class="modal-title">Change Password</h6>
</div>

<div class="modal-body">
  <form [formGroup]="changePasswordForm$" (ngSubmit)="submit()">
    <!-- Current Password -->
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="currentPassword"
        formControlName="currentPassword"
        placeholder="Current Password"
      />
      <label for="currentPassword">Current Password</label>
      <div
        *ngIf="
          changePasswordForm$.get('currentPassword')?.hasError('required') &&
          changePasswordForm$.get('currentPassword')?.touched
        "
        class="text-danger"
      >
        Current password is required.
      </div>
      <div
        *ngIf="
          changePasswordForm$.hasError('invalidPassword') &&
          changePasswordForm$.touched
        "
        class="text-danger"
      >
        Invalid current password.
      </div>
    </div>

    <!-- New Password -->
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="newPassword"
        formControlName="newPassword"
        placeholder="New Password"
      />
      <label for="newPassword">New Password</label>
      <div
        *ngIf="
          changePasswordForm$.get('newPassword')?.invalid &&
          changePasswordForm$.get('newPassword')?.touched
        "
        class="text-danger"
      >
        New password is required.
      </div>
    </div>

    <!-- Confirm New Password -->
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirm New Password"
      />
      <label for="confirmPassword">Confirm New Password</label>
      <div
        *ngIf="
          changePasswordForm$.get('confirmPassword')?.invalid &&
          changePasswordForm$.get('confirmPassword')?.touched
        "
        class="text-danger"
      >
        Confirm password is required.
      </div>
      <div *ngIf="newPasswordMismatch" class="text-danger">
        Passwords do not match.
      </div>
    </div>

    <!-- Submit Button -->
    <div class="modal-footer">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="activeModal.dismiss()"
      >
        Cancel
      </button>
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="changePasswordForm$.invalid || newPasswordMismatch"
      >
        Save Changes
      </button>
    </div>
  </form>
</div>
