<div
  class="container-fluid p-3 w-100"
  *ngIf="identifications$ | async as identification"
>
  <div class="row g-3">
    <div class="col-12">
      <h5>Documents</h5>
    </div>
    <ng-container *ngFor="let doc of identification | keyvalue">
      <div class="col-4" *ngIf="doc.key !== 'accountID'">
        <div class="card text-center">
          <div class="card-header">
            <strong>{{ formatTitle(doc.key) }}</strong>
          </div>
          <div class="card-body">
            <a
              *ngIf="doc.value; else noImage"
              [href]="doc.value"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                [src]="doc.value"
                class="img-fluid img-thumbnail fixed-height"
                alt="{{ doc.key }}"
              />
            </a>
            <ng-template #noImage>
              <p class="text-muted">No Image</p>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
