<div class="container-fluid p-3">
  <div class="row g-3">
    <div class="col-3">
      <div
        class="box bg-dark text-light p-3 rounded-3"
        *ngIf="activeLoans$ | async as loans"
      >
        <small>Active Loans</small>
        <h5>{{ loans.length }}</h5>
      </div>
    </div>
    <div class="col-3">
      <div class="box bg-dark text-light p-3 rounded-3">
        <small>Unpaid </small>
        <h5>{{ unpaid }}</h5>
      </div>
    </div>

    <div class="col-3">
      <div class="box bg-dark text-light p-3 rounded-3">
        <small>Paid </small>
        <h5>{{ paid }}</h5>
      </div>
    </div>

    <div class="col-3">
      <div class="box bg-dark text-light p-3 rounded-3">
        <small>Overdue </small>
        <h5>{{ overdue }}</h5>
      </div>
    </div>

    <div class="col-7">
      <div class="shadow-sm p-3 mb-5 bg-white rounded-3">
        <div class="d-flex justify-content-between align-items-center">
          <h5>Payment Schedule</h5>
          <div class="d-flex align-items-center gap-3 w-25">
            <input
              type="text"
              [formControl]="searhText$"
              class="form-control w-100"
              placeholder="Search loan ID"
            />
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th>Loan ID</th>
                <th>Amount</th>

                <th>Due Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loan of filteredPayments$ | async">
                <td>{{ loan.loanId }}</td>
                <td>{{ loan.amount | currency : "PHP" }}</td>
                <td>{{ loan.date | date : "medium" }}</td>

                <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-success': loan.status === 'PAID',
                      'bg-danger': loan.status === 'OVERDUE',
                      'bg-warning': loan.status === 'UNPAID'
                    }"
                  >
                    {{ loan.status }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="shadow-sm p-3 mb-5 bg-white rounded-3">
        <h5>Active Loans</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let loan of activeLoans$ | async">
            <div class="card">
              <div class="card-header">
                <h6 class="card-title">{{ loan.id }}</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <small class="text-muted">Loan ID</small>
                    <h6 class="fw-bold">{{ loan.id }}</h6>
                  </div>
                  <div class="col-6">
                    <small class="text-muted">Amount</small>
                    <h6 class="fw-bold text-success">
                      {{ loan.amount | currency : "PHP" }}
                    </h6>
                  </div>
                  <div class="col-6">
                    <small class="text-muted">Interest</small>
                    <h6>{{ loan.interest }}%</h6>
                  </div>
                  <div class="col-6">
                    <small class="text-muted">Amount Paid</small>
                    <h6 class="text-info">
                      {{ loan.amountPaid | currency : "PHP" }}
                    </h6>
                  </div>

                  <div class="col-6 mt-3">
                    <small class="text-muted">Remaining Balance </small>
                    <h6 class="text-danger">
                      {{ loan.amount - loan.amountPaid | currency : "PHP" }}
                    </h6>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-success" (click)="createPdf(loan)">
                  Download
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
