<div class="modal-header">
  <h5 class="modal-title">Confirm Loan Details</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="row mb-3">
    <div class="col-6">
      <h6>Loan ID:</h6>
      <span class="text-muted">{{ loan.id }}</span>
    </div>
    <div class="col-6">
      <h6>Loan Account ID:</h6>
      <span class="text-muted">{{ loan.loanAccountID }}</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <h6>Amount:</h6>
      <span class="text-muted">{{ loan.amount | currency : "PHP" }}</span>
    </div>
    <div class="col-6">
      <h6>Interest Rate:</h6>
      <span class="text-muted">{{ loan.interest }}%</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <h6>Amount Paid:</h6>
      <span class="text-muted">{{ loan.amountPaid | currency : "PHP" }}</span>
    </div>
    <div class="col-6">
      <h6>Status:</h6>
      <span class="text-muted">PENDING</span>
    </div>
    <div class="col-6">
      <h6>Lender:</h6>
      <div class="d-flex gap-2 align-items-center">
        <img
          src="../../../../assets/logo_1.png"
          width="32px"
          height="32px"
          class="rounded-circle"
        />
        <span class="text-dark fw-bold"> Fintrack </span>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <h6>Payment Schedule:</h6>
      <div class="ps-3">
        <p>Days: {{ loan.paymentSchedule.days }}</p>
        <p>
          Amount per Day: {{ loan.paymentSchedule.amount | currency : "PHP" }}
        </p>
        <p>
          Start Date:
          {{ loan.paymentSchedule.startgDate | date : "MMM d, yyyy" }}
        </p>
        <p>
          End Date: {{ loan.paymentSchedule.endDate | date : "MMM d, yyyy" }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss()"
  >
    Cancel
  </button>
  <button type="button" class="btn btn-primary" (click)="confirmLoan()">
    Confirm
  </button>
</div>
