<div class="container-fluid p-3">
  <div class="row g-3">
    <div class="col-4">
      <div
        *ngIf="goodBadBorrowersOptions$ | async as chartOptions"
        class="bg-white rounded-3 p-3"
      >
        <canvasjs-chart
          [options]="chartOptions"
          style="width: 100%"
        ></canvasjs-chart>
      </div>
    </div>
    <div class="col-4">
      <div
        *ngIf="totalLoansOptions$ | async as chartOptions"
        class="bg-white rounded-3 p-3"
      >
        <canvasjs-chart
          [options]="chartOptions"
          style="width: 100%"
        ></canvasjs-chart>
      </div>
    </div>

    <div class="col-4">
      <div
        *ngIf="activeLoansOptions$ | async as chartOptions"
        class="bg-white rounded-3 p-3"
      >
        <canvasjs-chart
          [options]="chartOptions"
          style="width: 100%"
        ></canvasjs-chart>
      </div>
    </div>

    <div class="col-12">
      <div class="bg-white rounded-3 p-3">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Borrower Performance</h4>
          <div class="d-flex">
            <input
              type="text"
              class="form-control me-2"
              placeholder="Search..."
              [formControl]="searchQuery"
            />
            <button class="btn btn-primary" (click)="downloadPerformancePDF()">
              Download
            </button>
          </div>
        </div>
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Credit Score</th>
              <th>Total Loans</th>
              <th>Active Loans</th>
              <th>Total Overdues</th>
              <th>Total Paid</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let borrower of filteredBorrowerPerformance$ | async">
              <td>
                <div class="d-flex align-items-center">
                  <img
                    [src]="
                      borrower.user?.profile ?? '../../../assets/profile.png'
                    "
                    alt="user profile"
                    width="36"
                    height="36"
                    class="rounded-circle border"
                  />
                  <span class="ms-2">
                    {{ borrower?.user?.firstName }}
                    {{ borrower.user?.lastName }}
                  </span>
                </div>
              </td>
              <td>{{ borrower.creditScore }}</td>
              <td>{{ borrower.totalLoans }}</td>
              <td>{{ borrower.activeLoans }}</td>
              <td>{{ borrower.totalOverdues }}</td>
              <td>{{ borrower.totalPaid | currency : "PHP" }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="
                    borrower.creditScore >= 75 ? 'bg-success' : 'bg-danger'
                  "
                >
                  {{ borrower.creditScore >= 75 ? "Good Payer" : "Bad Payer" }}
                </span>
              </td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  (click)="downloadBorrowerPDF(borrower)"
                >
                  Download
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
