<div class="container-fluid p-3" *ngIf="users$ | async as user">
  <div class="row g-3">
    <ng-container *ngIf="user.type === 'COLLECTOR'">
      <div class="col-4">
        <div
          *ngIf="goodBadBorrowersOptions$ | async as chartOptions"
          class="bg-white rounded-3 p-3"
        >
          <canvasjs-chart
            [options]="chartOptions"
            style="width: 100%"
          ></canvasjs-chart>
        </div>
      </div>
      <div class="col-4">
        <div
          *ngIf="totalLoansOptions$ | async as chartOptions"
          class="bg-white rounded-3 p-3"
        >
          <canvasjs-chart
            [options]="chartOptions"
            style="width: 100%"
          ></canvasjs-chart>
        </div>
      </div>

      <div class="col-4">
        <div
          *ngIf="activeLoansOptions$ | async as chartOptions"
          class="bg-white rounded-3 p-3"
        >
          <canvasjs-chart
            [options]="chartOptions"
            style="width: 100%"
          ></canvasjs-chart>
        </div>
      </div>
    </ng-container>

    <div class="col-12">
      <div class="bg-white rounded-3 p-3">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="mb-0 flex-grow-1">Borrower Performance</h4>

          <div class="d-flex align-items-center gap-1">
            <input
              type="text"
              class="form-control"
              style="width: 200px"
              placeholder="Search..."
              [formControl]="searchQuery"
            />

            <div ngbDropdown class="dropdown">
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                ngbDropdownToggle
              >
                Filter by
              </button>
              <div ngbDropdownMenu>
                <button
                  class="dropdown-item"
                  *ngFor="let data of arr; index as i"
                  (click)="filterByGoodOrBad(i)"
                >
                  {{ data }}
                </button>
              </div>
            </div>

            <button class="btn btn-primary" (click)="downloadPerformancePDF()">
              Download
            </button>
          </div>
        </div>
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Credit Score</th>
              <th>Total Loans</th>
              <th>Active Loans</th>
              <th>Total Overdues</th>
              <th>Total Paid</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let borrower of filteredBorrowerPerformance$ | async">
              <td>
                <div class="d-flex align-items-center">
                  <img
                    *ngIf="borrower.user?.accountStatus === 'ACTIVE'"
                    [src]="
                      borrower.user?.profile ?? '../../../assets/profile.png'
                    "
                    alt="user profile"
                    width="36"
                    height="36"
                    class="rounded-circle border"
                  />
                  <span class="ms-2">
                    {{ displayName(borrower.user) }}
                  </span>
                </div>
              </td>
              <td>{{ displayCreditScore(borrower) }}</td>
              <td>{{ borrower.totalLoans }}</td>
              <td>{{ borrower.activeLoans }}</td>
              <td>{{ borrower.totalOverdues }}</td>
              <td>{{ borrower.totalPaid | currency : "PHP" }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="
                    borrower.creditScore >= 75 ? 'bg-success' : 'bg-danger'
                  "
                >
                  {{ borrower.creditScore >= 75 ? "Good Payer" : "Delinquent" }}
                </span>
              </td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  (click)="downloadBorrowerPDF(borrower)"
                >
                  Download
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
