.logo {
  max-width: 40px; /* Adjust size based on your logo */
  height: auto;
}

.sidebar .logo {
  margin-right: 10px; /* Space between logo and title */
}
.nav-link:hover {
  background-color: #444;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}
