<div class="container">
  <!-- Header Section -->
  <div class="text-center mb-5">
    <h1 class="display-4 text-primary">
      <i class="fas fa-tachometer-alt"></i> Collector Dashboard - FintrackSystem
    </h1>
    <p class="lead text-muted">
      <i class="fas fa-cogs"></i> Monitor and manage loan applications,
      repayments, and financial analytics.
      <br />
    </p>
  </div>

  <!-- Collectors Overview Cards -->
  <div class="row g-4 mb-5">
    <div class="col-md-3">
      <div
        class="card bg-success shadow-sm p-3 d-flex flex-row align-items-center"
      >
        <i class="fas fa-user-friends fa-2x text-white me-3"></i>
        <div>
          <h6 class="text-white">Total borrower</h6>
          <h3 class="text-white fw-bold"></h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div
        class="card bg-light shadow-sm p-3 d-flex flex-row align-items-center"
      >
        <i class="fas fa-user-check fa-2x text-warning me-3"></i>
        <div>
          <h6 class="text-warning">Active borrower</h6>
          <h3 class="text-warning fw-bold"></h3>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div
        class="card bg-warning shadow-sm p-3 d-flex flex-row align-items-center"
      >
      <i class="fas fa-user-check fa-2x text-white me-3"></i>
        <div>
          <h6 class="text-white">pending borrower</h6>
          <h3 class="text-white fw-bold"></h3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="card bg-primary shadow-sm p-3 d-flex flex-row align-items-center"
      >
      <i class="fas fa-user-check fa-2x text-white  me-3"></i>
        <div>
          <h6 class="text-white">default borrower</h6>
          <h3 class="text-white fw-bold"></h3>
        </div>
      </div>
    </div>
  

