<div class="container-fluid vh-100 p-0">
  <div class="d-flex h-100">
    <!-- Sidebar -->
    <div class="sidebar bg-dark p-3">
      <!-- Logo and Title -->
      <div class="w-100 text-center mb-4">
        <img
          src="../../../assets/logo.png"
          alt="Logo"
          class="logo mb-2"
          style="max-width: 100%; height: auto; width: 140px;"
        />
      </div>
      

      <!-- Nav Links -->
      <ul class="nav flex-column">
        <li class="nav-item mb-3">
          <a
            class="nav-link text-white d-flex align-items-center p-3 rounded"
            routerLink="home"
            routerLinkActive="active"
          >
            <i class="fas fa-tachometer-alt me-2"></i>
            <span class="fw-medium">Dashboard</span>
          </a>
        </li>

        <li class="nav-item mb-3">
          <a
            class="nav-link text-white d-flex align-items-center p-3 rounded"
            routerLink="borrowers"
            routerLinkActive="active"
          >
            <i class="fas fa-users me-2"></i>
            <span class="fw-medium">Borrowers</span>
          </a>
        </li>

        <li class="nav-item mb-3">
          <a
            class="nav-link text-white d-flex align-items-center p-3 rounded"
            routerLink="record"
            routerLinkActive="active"
          >
            <i class="fas fa-calendar-day me-2"></i>
            <span class="fw-medium">Record Payment</span>
          </a>
        </li>

        <li class="nav-item mb-3">
          <a
            class="nav-link text-white d-flex align-items-center p-3 rounded"
            routerLink="history"
            routerLinkActive="active"
          >
            <i class="fas fa-history me-2"></i>
            <span class="fw-medium">Payment History</span>
          </a>
        </li>

        <li class="nav-item mb-3">
          <a
            class="nav-link text-white d-flex align-items-center p-3 rounded"
            routerLink="performance"
            routerLinkActive="active"
          >
            <i class="fas fa-chart-line me-2"></i>
            <span class="fw-medium">Performance</span>
          </a>
        </li>

        <li class="nav-item mb-3">
          <a
            class="nav-link text-white d-flex align-items-center p-3 rounded"
            routerLink="profile"
            routerLinkActive="active"
          >
            <i class="fas fa-user-cog me-2"></i>
            <span class="fw-medium">Profile</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="flex-grow-1 bg-light text-dark">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
