<div class="modal-header">
  <h6 class="modal-title">Create Loan Type</h6>
</div>
<div class="modal-body">
  <form [formGroup]="loanTypeForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        placeholder="Name"
        required
      />
      <label for="name">Name</label>
      <div
        *ngIf="
          loanTypeForm.get('name')?.invalid && loanTypeForm.get('name')?.touched
        "
        class="text-danger"
      >
        Name is required.
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="description"
        formControlName="description"
        placeholder="Description"
      />
      <label for="description">Description</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="startingAmount"
        formControlName="startingAmount"
        placeholder="Starting Amount"
        required
      />
      <label for="startingAmount">Starting Amount</label>
      <div
        *ngIf="
          loanTypeForm.get('startingAmount')?.invalid &&
          loanTypeForm.get('startingAmount')?.touched
        "
        class="text-danger"
      >
        Starting amount is required.
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="payableDays"
        formControlName="payableDays"
        placeholder="Payable Days"
        required
      />
      <label for="payableDays">Payable Days</label>
      <div
        *ngIf="
          loanTypeForm.get('payableDays')?.invalid &&
          loanTypeForm.get('payableDays')?.touched
        "
        class="text-danger"
      >
        Payable days must be at least 40.
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="interest"
        formControlName="interest"
        placeholder="Interest"
        required
      />
      <label for="interest">Interest (%)</label>
      <div
        *ngIf="
          loanTypeForm.get('interest')?.invalid &&
          loanTypeForm.get('interest')?.touched
        "
        class="text-danger"
      >
        Interest is required.
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loanTypeForm.invalid"
    >
      Create
    </button>
  </form>
</div>
