<div class="home">
  <div class="left">
    <div class="quote-box">
      <h2>FinTrack</h2>
      <p>
        FinTrack: A Web-Based Financial Record Monitoring System for
        Microfinance Institutions (MFIs) is a web application designed to
        provide a centralized database for payment records, a listing of
        borrowers, and a system for monitoring loan payment records to ensure
        that borrowers are well informed regarding their payment records.
      </p>
    </div>
  </div>
  <div class="right">
    <a class="btn btn-success ms-4" routerLink="/login">get Started</a>
  </div>
</div>
