<div class="container-fluid p-3 h-100">
  <!-- Header Section -->
  <div class="d-flex align-items-center p-3 justify-content-between">
    <h5 class="fw-bold text-primary">Borrowers</h5>
  </div>

  <!-- Content Section -->
  <div class="container-fluid rounded-3 p-4 bg-white shadow-sm">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs mb-3" id="borrowerTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="borrower-list-tab"
          data-bs-toggle="tab"
          href="#borrower-list"
          role="tab"
          aria-controls="borrower-list"
          aria-selected="true"
        >
          Borrower List
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="loan-details-tab"
          data-bs-toggle="tab"
          href="#loan-details"
          role="tab"
          aria-controls="loan-details"
          aria-selected="false"
        >
          Loan Details
        </a>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="borrowerTabsContent">
      <!-- Borrower List Tab -->
      <div
        class="tab-pane fade show active"
        id="borrower-list"
        role="tabpanel"
        aria-labelledby="borrower-list-tab"
      >
        <!-- Search and Actions Section -->
        <div class="d-flex align-items-center justify-content-between mb-3">
          <!-- Search Bar -->
          <div
            class="w-25 p-2 bg-light rounded-pill d-flex gap-3 align-items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
            <input
              class="flex-grow-1 border-0 bg-transparent"
              placeholder="Search Borrowers..."
            />
          </div>

          <!-- New Loan Button -->
          <div class="d-flex gap-2">
            <button
              class="btn btn-primary d-flex align-items-center"
              (click)="createLoan()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus me-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                />
              </svg>
              Create Account
            </button>
          </div>
        </div>

        <!-- Loans Table -->
        <table class="table table-borderless table-hover">
          <thead class="table-light">
            <tr>
              <th scope="col">Loan Account</th>
              <th scope="col">User</th>
              <th scope="col">Type</th>
              <th scope="col">Interest</th>
              <th scope="col">Active Loan</th>
              <th scope="col">Available Loan</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of loans$"
              (click)="makeAloan(user.loanAccount?.id ?? '')"
            >
              <td>{{ user.loanAccount?.id }}</td>
              <td>
                <div class="d-flex align-items-center gap-2">
                  <img
                    [src]="user.user?.profile ?? '../../../assets/profile.png'"
                    alt="user profile"
                    width="32px"
                    height="32px"
                    class="rounded-circle"
                  />
                  <span
                    >{{ user?.user?.firstName }} {{ user.user?.lastName }}</span
                  >
                </div>
              </td>
              <td>{{ user.loanAccount?.name }}</td>
              <td>{{ user.loanAccount?.interest }}%</td>
              <td>0</td>
              <td>{{ user.loanAccount?.amount | currency : "PHP" }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Loan Details Tab -->
      <div
        class="tab-pane fade"
        id="loan-details"
        role="tabpanel"
        aria-labelledby="loan-details-tab"
      >
        <!-- Loan Details Section -->
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h6 class="fw-bold">Loan Details</h6>
          <button class="btn btn-success">View Loan</button>
        </div>
        <p>Display the loan details here.</p>
      </div>
    </div>
    <!-- End of Tab Content -->
  </div>
</div>
