.container-fluid {
  font-family: "Arial", sans-serif;
}

.nav-pills .nav-link {
  border-radius: 20px;
  padding: 10px 20px;
}

.table-hover tbody tr:hover {
  background-color: #f9f9f9;
}

.badge {
  font-size: 0.85rem;
  padding: 0.4em 0.6em;
  border-radius: 20px;
}

.input-group {
  border-radius: 30px;
  overflow: hidden;
}

.table thead {
  background: linear-gradient(to right, #007bff, #6610f2);
  color: #fff;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}
