<div class="vh-100 d-flex flex-column">
  <div
    class="container-fluid d-flex gap-3 p-3 bg-success text-light align-items-center"
  >
    <img src="../../../assets/logo_1.png" width="100" height="100" />
    <h4 class="fw-bold" style="max-width: 75%">
      FINTRACK: A WEB-BASED FINANCIAL RECORD MANAGEMENT SYSTEM FOR MICROFINANCE
      INSTITUTIONS
    </h4>
  </div>

  <div class="flex-grow-1 d-flex align-items-stretch">
    <div class="box p-3 w-50">
      <div class="rounded-3 border h-100" style="padding: 4rem">
        <p class="text-justify fs-4">
          FinTrack: A Web-Based Financial Record Monitoring System for
          Microfinance Institutions (MFIs) is a web application designed to
          provide a centralized database for payment records, a listing of
          borrowers, and a system for monitoring loan payment records to ensure
          that borrowers are well informed in regards with their payment
          records.
        </p>
      </div>
    </div>
    <div class="box w-50" style="position: relative">
      <img
        src="../../../assets/loan.jpg"
        alt="Loan Image"
        style="object-fit: cover"
        height="100%"
        width="100%"
      />
      <button
        style="position: absolute; bottom: 100px; right: 30px; width: 120px"
        class="btn btn-primary btn-lg rounded-0"
        routerLink="/login"
      >
        Login
      </button>
    </div>
  </div>
</div>
