<main>
  <div
    class="header-container d-flex align-items-center justify-content-between p-6 bg-dark-green position-relative"
  >
    <div
      class="header-logo d-flex align-items-center justify-content-start gap-2 text-white"
    >
      <img
        src="../../../assets/logo_1.png"
        width="100px"
        height="100px"
        class="rounded-circle"
      />
      <h1 class="fw-bold fs-3 mt-1 custom-header text-white">
        FINTRACK: A WEB-BASED FINANCIAL RECORD MANAGEMENT SYSTEM FOR
        MICROFINANCE INSTITUTIONS
      </h1>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
